@using Microsoft.FeatureManagement
@inject IFeatureManager FeatureManager
@{
    ViewData["Title"] = "New feature page";
}

<div class="text-center">
    <h1 class="display-4">Hey this is a secret new feature</h1>
</div>
